* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #F08FC0;        /* Rosa base */
  --primary-color: #FFD6E8;   /* Rosa claro para seções e fundos */
  --accent-color: #6A1B9A;    /* Roxo escuro para destaques */
  --secondary-color: #FFEACA;; /* Coral/laranja suave para detalhes */
  --button-color: #D81B60;    /* Rosa forte para botões */
  --text-color: #fff;          /* Texto claro */
}

/* ---------------- BODY ---------------- */
body {
  background-color: var(--bg-color);

}


/* ---------------- HEADER ---------------- */
.header {
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFEACA;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.home-img img,
.about-img img,
.revendas-img img,
.events-img img {
    animation: floating 2s ease-in-out infinite;

}

@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

.header:hover {
   box-shadow: 0 4px 10px rgba(0,0,0,0.3);
   box-shadow: 0 0 10px var(--button-color)
}

.header.scrolled {
    box-shadow: 0 0 25px var(--button-color)
}

.logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
   box-shadow: 0 0 25px #FFEACA, 0 0 50px #FFEACA;
}

.navbar a {
  padding: 0.5rem 1rem;
  color: var(--button-color);
  transition: 0.4s ease-in-out;
}

.navbar a:hover {
  
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: var(--button-color);
  text-decoration-thickness: 4px; 
  text-underline-offset: 4px; 
  font-weight: bold;


 
}

#menu-icon {
  font-size: 3.5rem;
  color: var(--accent-color);
  display: none;
}

.gradient-btn {
  background-color: var(--button-color);
  color: var(--text-color);
  font-size: 1rem;
  border: none;
  padding: 0.8rem 1.3rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.gradient-btn:hover {
  opacity: 0.8;
    box-shadow: 0 0 25px var(--button-color), 0 0 50px var(--button-color);
      transform: scale(1.1);
       font-weight: 700;
}

/* ---------------- HOME ---------------- */
.home-title {
  color: var(--text-color);
  font-size: 2.3rem;
  font-weight: 900;
  margin: 0.9rem 0;
}

.section.home p {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  color: var(--button-color);
  font-weight: 900;
}

.social-icons {
 margin-bottom: 2rem;
 display: flex;
 gap: 1rem;
 
}

.social-icons a {
  font-size: 2rem;
  color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 50%;
  padding: 0.1rem.4rem; 
  
  transition: 0.3s ease-in-out;

}

.social-icons a:hover {
    box-shadow: 0 0 25px var(--button-color);
  background-color: var(--button-color);
  color: #fff; 
  transform: scale(1.15) translateY(-4px);

}


.btn-group {
  margin-top: 0.3rem;
  
}

.btn {
  color: var(--text-color);
  background-color: var(--button-color);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 25px var(--button-color);
  font-size: 1rem;
  font-weight: 500;
  

}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--button-color), 0 0 50px var(--button-color);
}

.home-contact-btn {
    color: var(--button-color);
  background-color: var(--primary-color);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
   font-size: 1rem;
     font-weight: 500;
}

.home-contact-btn:hover {
    transform: scale(1.05);
   box-shadow: 0 0 25px var(--button-color), 0 0 50px var(--button-color);
   color: var(--text-color);
   background-color: var(--button-color);
}

/* ---------------- SECTIONS ---------------- */
.section {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  padding: 5rem 10%;
}




.home-img img {
  width: 32vw;
  object-fit: cover;

}


/* ---------------- ABOUT ---------------- */
.section.about {
  background-color: var(--bg-color);
}

.section.about h1 {
  color: var(--text-color);
  font-size: 2.3rem;
  margin: 0.9rem 0;
}

.about-content p {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  color: var(--button-color);
  font-weight: 900;
}

.about-img img {
  width: 32vw;
  object-fit: cover;
}
::-webkit-scrollbar {
    width: 20px;
}


::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

/* ---------------- SERVICES ---------------- */
.section.services {
  background-color: var(--bg-color);
}
.services-content {
  text-align: center;
}

.section.services h1 {
  color: var(--text-color);
  font-size: 2.3rem;
  margin: 0.9rem 0;
}

.services-content p {
  color: var(--button-color);
    font-weight: 900;
}

.services-container {
  display: flex;
 justify-content: center;
 align-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}






.section-service-card img {
  width: 20vw;
  object-fit: cover;
  object-position: center;
  background-color: var(--primary-color);
  border-radius: 2rem;
  transition: 0.3s ease-in-out;

  
  
}

.section-service-card p {
  margin: 0.5rem 0;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--button-color);
  font-weight: 700;
  border-radius: 2rem;
}

.section-service-card img:hover {
    box-shadow: 0 0 25px var(--button-color);
    cursor: pointer;
}

.section-service-card:hover {
  transform: scale(1.05);
 
}



/* ---------------- FEEDBACK ---------------- */
.feedback-area {
 display: flex;
flex-direction: column;
  background-color: var(--primary-color);
  padding-bottom: 1rem;
}

.feedback-title {
  padding: 2rem 0;
  text-align: center;
  font-size: 3rem;
  color: var(--button-color);
}

.seemore-feedback {
  display: inline-block;        
  padding: 0.8rem 1.5rem;      
  font-size: 1.8rem;           
  background-color: var(--button-color);
  color: #fff;

   box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  cursor: pointer;
  margin: 2rem auto ;          
  transition: 0.3s ease-in-out;
  border-radius: 3rem;
}

.seemore-feedback:hover {
  opacity: 0.8;
  transform: scale(1.05);
     box-shadow: 0 0 25px var(--accent-color), 0 0 50px var(--accent-color);
     font-weight: 600;
}

.stars-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  color: var(--button-color);
}

/* ---------------- CAROUSEL ---------------- */
.carousel {
  margin: 100px auto;
  width: 90%;
  display: flex;
  overflow: auto;
  gap: 1em;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: slide 10s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 6em;
  height: 6em;
  font-size: 3rem;
  border-radius: 0.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.2rem;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/* ---------------- REVENDAS ---------------- */
.section.revendas {
  background-color: var(--bg-color);
}

.section.revendas h1{
color: var(--text-color);
margin: 0.9rem 0;
font-size: 2.3rem;
}

.section.revendas p {
  color: var(--button-color);
  font-weight: 900;
}
.revendas-img img {
    width: 32vw;
  object-fit: cover;
  object-position: center;
}

/* Events */
.section.events h1 {
  color: var(--text-color);
margin: 0.9rem 0;
font-size: 2.3rem;
}

.section.events p {
 color: var(--button-color);
  font-weight: 900;
}

.events-img img {
    width: 32vw;
  object-fit: cover;
  object-position: center;
}

/* ---------------- CONTACT ---------------- */
.contact {
 
  background-color: var(--primary-color);
}
.contact-title {
  padding: 2rem;
  text-align: center;
  color: var(--button-color);

}

/* ---------------- FOOTER ---------------- */
.footer {
  padding: 4rem 0 2rem;
  text-align: center;
  color: var(--text-color);
}
.social-icons-footer  {
  display: flex;
  justify-content: center;
  align-items: center;
gap: 1rem;
}

.footer .social-icons-footer a {

    font-size: 2.3rem;
  color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 50%;
 
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
}

.footer .social-icons-footer a:hover {
  transform: scale(1.3);
  color: var(--text-color);
  background-color: var(--button-color);
    box-shadow: 0 0 25px var(--button-color);
}

.footer ul {
  margin-top: 1.5rem;
}

.footer ul li {
  display: inline-block;
  margin: 0 1rem;
}

.footer ul li a {
  color: var(--button-color);
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.footer ul li a:hover {

  text-decoration: underline;
  text-decoration-color: var(--button-color);
  text-decoration-thickness: 4px; 
  text-underline-offset: 4px; 
  font-weight: bold;


}

.footer .copyright {
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--button-color);
  opacity: 0.8;
  font-weight: 800;
}


/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 900px) {
  #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color: var(--secondary-color);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--button-color);
        border-bottom: 2px solid var(--button-color);
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--button-color);
    }

    .navbar a:hover {
        opacity: 0.8;
  text-decoration: underline;
  text-decoration-color: var(--button-color);
  text-decoration-thickness: 4px; 
  text-underline-offset: 4px; 
  font-weight: bold;
  
    }

    .navbar {
      display: none;
    }
     .navbar.active {
      display: block;
     }

  .section {
    flex-direction: column;
    text-align: center;
  }

 
.home-img img,
.about-img img,
.revendas-img img,
.events-img img  {
  width: 100%;
}



 
}


@media (max-width: 894px) {
.home-content h1 {
  font-size: 4rem;
}
.home-content p {
  font-size: 2rem;
}

.section.about h1 {
  font-size: 4rem;
}
.section.about p {
  font-size: 2rem;
}

.section.services h1 {
  font-size: 4rem;
}
.section.services p {
  font-size: 2rem;
}

.section.revendas h1 {
  font-size: 4rem;
}
.section.revendas p {
  font-size: 2rem;
}
.section.events h1 {
  font-size: 4rem;
}
.section.events p {
  font-size: 2rem;
}

.contact h1 {
  font-size: 4rem;
}

.section-service-card p {
  
 padding: 0.2rem 0.6rem;
 font-size: 1rem;
  
}
.section-service-card img {
  width: 50vw;
  object-fit: cover;
  object-position: center;


  
  
}
}

@media (max-width: 500px) {
  .home-content h1 {
  font-size: 3rem;
}
.home-content p {
  font-size: 1.5rem;
}

.section.about h1 {
  font-size: 3rem;
}
.section.about p {
  font-size: 1.5rem;
}

.section.services h1 {
  font-size: 3rem;
}
.section.services p {
  font-size: 1.5rem;
}

.section.revendas h1 {
  font-size: 3rem;
}
.section.revendas p {
  font-size: 1.5rem;
}
.section.events h1 {
  font-size: 3rem;
}
.section.events p {
  font-size: 1.5rem;
}

.contact h1 {
  font-size: 3rem;
}
.home-img img,
.about-img img,
.revendas-img img,
.events-img img  {
  width: 70vw;
}

.feedback-title {
  font-size: 2.5rem;
}
.feedback-title {
  padding: 1rem 1rem;
}
.stars-icons {

  font-size: 2rem;

}
    
    .navbar a {
        display: block;
        font-size: 1.5rem;
        margin: 3rem 0;
        color: var(--button-color);
    }

}



@media (max-width: 350px) {
    .navbar a {
        display: block;
        font-size: 1rem;
        margin: 3rem 0;
        color: var(--button-color);
    }

     .home-content h1 {
  font-size: 2.6rem;
}
.home-content p {
  font-size: 1.1rem;
}

.section.about h1 {
  font-size: 2.6rem;
}
.section.about p {
  font-size: 1.1rem;
}

.section.services h1 {
  font-size: 2.6rem;
}
.section.services p {
  font-size: 1.1rem;
}

.section.revendas h1 {
  font-size: 2.6rem;
}
.section.revendas p {
  font-size: 1.1rem;
}
.section.events h1 {
  font-size: 2.6rem;
}
.section.events p {
  font-size: 1.1rem;
}

.contact h1 {
  font-size: 2.6rem;
}
.feedback-title {
  font-size: 1.8rem;
  padding: 1rem 1rem;
}
.home-img img,
.about-img img,
.revendas-img img,
.events-img img  {
  width: 90vw;
}

.section-service-card img {
  width: 55vw;
  object-fit: cover;
  object-position: center;
  
  
}

.seemore-feedback { 
       
  padding: 0.6rem 1.3rem;      
  font-size: 1.4rem;           
  background-color: var(--button-color);

  border-radius: 3rem;
   box-shadow: 0 4px 10px rgba(0,0,0,0.4);

       
 

}
.stars-icons {

  font-size: 1.4rem;
 
}


}

@media (max-width: 380) {
  .copyright {
    font-size: 0.5rem;
    padding: 1rem 1rem;
  }
}